* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
:root {
	--text: #3d4e66;
	--background: #edf1f5;
	--foreground: #fafafa;
	--gray: 221, 230, 238;
	--light-blue: 8, 143, 214;

	--red: #ec294b;
	--green: #4caf50;
	--yellow: 247, 247, 99;

	--primary: #1e3a8a;
	--secundary: #06517a;
	--accent: #3db4f2;
}
.dark {
	--text: #cbd5e1;
	--background: #151d32;
	--foreground: #1e293b;
	--gray: 30, 42, 56;
	--light-blue: 247, 247, 99;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--background);
}
.App {
	background-color: var(--background);
	position: relative;
}
.loading-page__bar {
	background-color: var(--accent);
	width: 100%;
	height: 0.5rem;
	animation: loading-bar-animation 2s infinite;
}
@keyframes loading-bar-animation {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}
.container {
	margin: auto;
	max-width: 1520px;
}
.page-content {
	min-height: 100vh;
	position: relative;
}
.page-content--modal {
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	top: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.5);
}

.button {
	text-align: center;
	font-size: 1rem;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: var(--accent);
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.button--grow {
	flex-grow: 1;
}
.button--red {
	background-color: var(--red);
}
.button--green {
	background-color: var(--green);
}
.button--disabled {
	background-color: var(--text);
	color: var(--background);
	opacity: 0.6;
}

.invisible {
	display: none;
}

.footer {
	margin-top: 2em;
	width: 100%;
	background-color: var(--primary);
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.footer > * {
	flex-grow: 1;
	padding: 1em;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.loader-animation {
	color: #00000000;
	position: relative;
	overflow: hidden;
	background-color: rgba(var(--gray));
	border-radius: 2px;
	margin-bottom: 0.2em;
}
.loader-animation::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(
		90deg,
		rgba(var(--gray), 0) 0,
		rgba(var(--light-blue), 0.06) 40%,
		rgba(var(--light-blue), 0.06) 60%,
		rgba(var(--gray), 0)
	);
	transform: translateX(-100%);
	animation: shimmer 2s infinite;
	content: "";
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
.collection-container {
	list-style: none;
	margin: auto;
	padding: 0.75rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-evenly;
	gap: 1.25rem 0.75rem;
	overflow: scroll;
}
.collection-container--denser {
	flex-grow: 1;
	grid-template-columns: repeat(3, 1fr);
}
.collection-lable {
	color: var(--text);
	padding: 10px;
	margin: 10px 0px;
}
.filter {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.filter__search {
	padding: 10px;
	flex-grow: 1;
	width: 100%;
}
.filter__types {
	display: flex;
	flex-direction: row;
	gap: 10px;
	overflow-x: scroll;
	overflow-y: visible;
	padding: 10px 50px 50px 50px;
	margin: -10px 0px -40px -40px;
}
.filter__input {
	min-width: 100%;
	cursor: pointer;
	margin-top: 10px;
}
.filter__input--grow {
	flex-grow: 1;
	width: 100%;
}
.filter__input::placeholder {
	font-weight: normal;
}
.filter__label {
	cursor: pointer;
	color: var(--text);
	font-weight: bold;
}
.filter__search__container {
	display: flex;
	width: 100%;
	margin-top: 10px;
}
.filter__checkbox-container {
	display: flex;
	padding: 8px;
	background-color: var(--foreground);
	align-self: flex-end;
	color: var(--text);
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
	border: none;
	outline: none;
	box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.05);
	white-space: nowrap;
	cursor: pointer;
}
.filter__checkbox-container .filter__label {
	font-size: 0.75rem;
	display: inline;
	white-space: nowrap;
}
.filter__checkbox {
	flex-shrink: 1;
	width: 1rem;
	height: 1rem;
	margin-left: 1rem;
	color: var(--accent);
	vertical-align: middle;
	-webkit-appearance: none;
	background: none;
	border: 0;
	outline: 0;
	border-radius: 0.25rem;
	transition: 300ms;
	cursor: pointer;
}
.filter__checkbox::before {
	content: "";
	display: block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background-size: contain;
	box-shadow: inset 0 0 1px 1px #ccd3d8;
}
.filter__checkbox:checked {
	background-color: currentColor;
}
.filter__checkbox:checked::before {
	box-shadow: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
.form__input {
	background-color: var(--foreground);
	color: var(--text);
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
	border: none;
	outline: none;
	box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.05);
}
.form__input::placeholder {
	font-weight: normal;
}
.form__input__grow {
	flex-grow: 1;
}
.form__label {
	display: none;
}
.form-title {
	font-size: 1.5em;
	padding-top: 15px;
	padding-bottom: 30px;
	color: var(--text);
	text-align: center;
}
.form-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--foreground);
	color: var(--text);
	width: 100%;
	min-height: 100vh;
	padding: 40px;
}

.not-found-message {
	grid-column: span 10;
	margin: 2rem auto;
	text-align: center;
	color: var(--text);
	max-width: 600px;
	padding: 0 10px;
}
.not-found-message > a {
	text-decoration: underline;
}

@media only screen and (max-width: 320px) {
	.collection-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.collection-container--denser {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (min-width: 768px) {
	.collection-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.collection-container--denser {
		grid-template-columns: repeat(3, 1fr);
	}
	.form-container {
		max-width: 400px;
		margin: auto;
		margin-top: 40px;
		height: auto;
		min-height: auto;
		border-radius: 4px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	}
}
@media only screen and (min-width: 1024px) {
	.collection-container {
		grid-template-columns: repeat(6, 1fr);
	}
	.collection-container--denser {
		grid-template-columns: repeat(4, 1fr);
	}
	.filter {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
	}
	.filter__search {
		flex-grow: 1;
		width: auto;
	}
	.filter__types {
		overflow-x: visible;
		padding: 10px 50px 50px 50px;
		margin: -10px -40px -50px -60px;
	}
	.filter__input {
		width: 100%;
		min-width: none;
	}
	.container {
		padding-left: 100px;
		padding-right: 100px;
	}
	.footer {
		padding-left: 100px;
		padding-right: 100px;
		flex-direction: row;
		align-items: center;
	}
	.footer > * {
		padding-top: 3em;
		padding-bottom: 3em;
	}
}
a {
	text-decoration: none;
	color: currentColor;
}
.mention {
	color: var(--accent);
}
