* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
:root{
	--text: #5c728a;
	--background: #edf1f5;
	--foreground: #fafafa;
	
	--red: #ec294b;
	--green: #4caf50;
	--blue: #3db4f2;
	--yellow: 247, 247, 99;

	--primary: #1e3e9e;
	--secundary: #bbdbfc;
	--accent: #0b75e0;


}
body{
	background-color: var(--background);
}
.App{
	background-color:  var(--background);
}
.container {
	margin: auto;
    max-width: 1520px;
}
.page-content{
	min-height: 100vh;
}

.button {
	text-align: center;
	font-size: 1rem;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: var(--blue);
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.button--grow{
	flex-grow: 1;
}
.button--red{
	background-color: var(--red);
}
.button--green{
	background-color: var(--green);
}

.invisible{
	display: none;
}

.footer{
	margin-top: 2em;
	width: 100%;
	background-color: var(--primary);
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.footer > *{
	flex-grow: 1;
	padding: 1em;
}
@media only screen and (min-width: 1040px) {
	.container{
		padding-left: 100px;
		padding-right: 100px;
	}
	.footer{
		padding-left: 100px;
		padding-right: 100px;
		flex-direction: row;
		align-items: center;
	}.footer > *{
		padding-top: 3em;
		padding-bottom: 3em;
	}
}
a {
	text-decoration: none;
	color: currentColor;
}