.all-info-container {
	margin: 0;
	padding: 0.75rem;
	color: var(--text);
	list-style: none;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	padding-top: 1.5em;
}
/* --- Volumes itemns list ---*/
.series__volume-item {
	background-color: var(--foreground);
	border-radius: 0.25rem;
	overflow: hidden;
	box-shadow: 0 14px 30px #00000026, 0 4px 4px #0000000d;
}
.series-card__image-container {
	display: block;
	position: relative;
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
	aspect-ratio: auto 465 / 695;
	background-color: rgba(var(--gray));
}
.series__volume__image-wrapper {
	display: block;
	position: relative;
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	overflow: hidden;
	aspect-ratio: auto 465 / 695;
	background-color: rgba(var(--gray));
}
.series__volume__image-wrapper a {
	display: block;
	width: 100%;
	height: 100%;
}
.series__volume__image {
	z-index: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}
.series-card__adult-indicator {
	position: absolute;
	background-color: black;
	z-index: 10;
	color: white;
	border: 1px solid white;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	z-index: 1;
	top: 0.5rem;
	right: 0.5rem;
	box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.05);
}
.series__volume__image--loading {
	opacity: 0;
}
.volume-state-controller {
	display: none;
}

.checkmark-label {
	color: var(--text);
	text-align: center;
	padding: 0.5rem;
	display: block;
}
.series__volume__body {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.checkmark-label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--text);
}
.actions-container {
	display: flex;
	gap: 0.5rem;
}
.action-label {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem 0;
	margin-top: auto;
	border-radius: 0.25rem;
	background-color: var(--green);
	font-size: 0.9rem;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s;
	user-select: none;
	color: white;
	flex-grow: 1;
}

.volume-state-controller:checked ~ .series__volume__body .action-label {
	background-color: transparent;
	background-color: var(--red);
}

.action-label .text-owned {
	display: none;
}
.action-label .text-add {
	display: inline;
}

.volume-state-controller:checked
	~ .series__volume__body
	.action-label
	.text-add {
	display: none;
}
.volume-state-controller:checked
	~ .series__volume__body
	.action-label
	.text-owned {
	display: inline;
}
.overall-content__container {
	flex: 1;
	min-width: 0;
	width: 100%;
}
.related-cards__container {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-wrap: nowrap;

	padding: 0.75rem;
	padding-bottom: 2rem;
	gap: 0.75rem;
	list-style-type: none;

	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
.related-cards__cotnainer--fullpage{
	flex-direction: column;
}
.related-cards__cotnainer--fullpage .related-card,
.related-cards__container > * {
	width: 100%;
}
.related-card,
.related-cards__container > * {
	flex-shrink: 0;
	width: 300px;
}
.related-card {
	background-color: var(--foreground);
	border-radius: 0.25rem;
	overflow: hidden;
	display: flex;
	color: var(--text);
	box-shadow: var(--box-shadow);
}
.related-card__image-container {
	aspect-ratio: 465 / 695;
	width: 5rem;
	height: 100%;
	flex-shrink: 0;
}
.related-card__image {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	object-fit: cover;
}
.related-card__image--loading {
	opacity: 0;
}
.related-card__info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.75rem;
	gap: 0.75rem;
}
.related__missing {
	max-width: 600px;
	margin: auto;
	color: var(--text);
	text-align: center;
	min-height: 30vh;
	padding: 2rem;
}
@media only screen and (min-width: 768px) {
	.series-card__adult-indicator {
		top: auto;
		bottom: 0.5rem;
	}

	.all-info-container {
		margin-bottom: 0.75rem;
		background-color: var(--foreground);
		max-width: 250px;
		padding: 0.75rem;
		border-radius: 0.25rem;
		top: 1.5rem;
		box-shadow: 0 14px 30px #00000026, 0 4px 4px #0000000d;
	}
	.content-overall__container {
		padding-top: 0.75rem;
		padding: 0.75rem;
		display: flex;
		gap: 0.75rem;
		align-items: flex-start;
		position: relative;
	}
	.related-cards__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		overflow: visible;
	}
	.related-card {
		width: auto;
	}
}

@media only screen and (min-width: 1024px) {
}
