<div
	style="background: #1e3a8a; color: #fff; padding: 10px; font-family: Arial"
>
	<p>
		This message is a automated mensage and does not need a reply, if you do
		not want to receive messages like this you can change your notifications
		settings
		<a style="color: #fff" href="<%= process.env.HOST_ORIGIN%>/settings"
			>clicking here</a
		>
	</p>
</div>
