<div
	style="background: #1e3a8a; color: #fff; padding: 10px; font-family: Arial"
>
	<p>
		Essa é uma mensagem automática e não precisa ser respondida. Caso não queira continuar recebendo mensagens desse tipo
		você pode mudar suas configurações de notificações logando em sua conta e 
		<a style="color: #fff" href="<%= process.env.SITE_DOMAIN%>/settings"
			>clicando aqui</a
		>
	</p>
</div>
