<%- await include('./header.ejs') %>

<div
	style="
		margin: 0 auto;
		max-width: 720px;
		padding: 30px 0;
		font-family: Arial;
	"
>
	<h2>Olá <%= username %></h2>
	<p>
		Recebemos uma solicitação para redefinir a sua senha. Para continuar,
		clique no link abaixo:
	</p>
	<p><a href="<%= link %>">Redefinir senha</a></p>
	<p>
		Se você não solicitou essa alteração, ignore este e-mail. O link
		expirará em 15 minutos.
	</p>
	<p>Atenciosamente, equipe da MangaShelf</p>
</div>
