.cards-list {
  display: flex;
  flex-direction: column;
}

.empty-state {
  text-align: center;
  padding: 5rem;
  color: var(--text);
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border: 1px dashed var(--text);
}

.loading {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}