.edit-modal {
	padding: 1rem;
	border-radius: 0.25rem;
	border: none;
	margin: auto;
	outline: none;
	background-color: var(--background);
	color: var(--text);
}

.edit-modal::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	width: 24rem;
	max-width: 100%;
}

.modal-title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: bold;
	margin-bottom: 0.75rem;
	margin-top: 0;
}

.modal-form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}
.input-group {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	flex-grow: 1;
}.input-group--column{
	flex-direction: row;
}

.label-text {
	font-size: 0.75rem;
	font-weight: 600;
}
.modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
	margin: 0.75rem 0rem;
}
