.prompt-confirm {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	position: fixed;
	top: 50%;
	left: 50%;
	line-height: 1.5em;
	padding: 15px;
	color: #5c728a;
	background-color: #edf1f5;
	border: 2px solid #5c728a;
	border-radius: 4px;
	translate: -50% -50%;
	width: 420px;
	max-width: 80vw;
	z-index: 999;
}
.prompt-confirm__button {
	cursor: pointer;
	padding: 15px;
	margin: 10px;
	border-radius: 4px;
	border: none;
	background-color: green;
	color: white;
	width: 40%;
	font-weight: bold;
}
.prompt-confirm__button:hover,
.prompt-confirm__button:active {
	background-color: rgb(2, 171, 2);
}
.prompt-confirm__button--cancel {
	background-color: red;
}
.prompt-confirm__button--cancel:hover,
.prompt-confirm__button--cancel:active {
	background-color: rgb(255, 67, 67);
}
