.series-card__title {
	font-size: 0.8em;
	color: var(--text);
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-top: 10px;
}
.series-card__image-container {
	display: block;
	position: relative;
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
	aspect-ratio: auto 465 / 695;
	background-color: rgba(var(--gray));
}
.series-card__loader {
	color: #00000000;
	position: relative;
	overflow: hidden;
	background-color: rgba(var(--gray));
	border-radius: 2px;
	margin-bottom: 0.2em;
}
.series-card__loader::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(
		90deg,
		rgba(var(--gray), 0) 0,
		rgba(var(--light-blue), 0.06) 40%,
		rgba(var(--light-blue), 0.06) 60%,
		rgba(var(--gray), 0)
	);
	transform: translateX(-100%);
	animation: shimmer 2s infinite;
	content: "";
}
@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
.series-card__overlay:hover > * {
	opacity: 1;
	transition: 500ms;
}
.series-card__img {
	position: absolute;
	left: 50%;
	z-index: 0;
	translate: -50%;
	width: auto;
	min-width: 100%;
	height: 100%;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}
.series-card__img--loading {
	opacity: 0;
}
.series-card__adult-indicator {
	position: absolute;
	background-color: black;
	color: white;
	border: 1px solid white;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	z-index: 1;
	top: 0.5rem;
	right: 0.5rem;
	box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.05);
}
.series-card__bar {
	position: absolute;
	z-index: 1;
	background-color: rgb(var(--yellow), 0.25);
	width: 100%;
	height: 8px;
	bottom: 0;
}
.series-card__progress-bar {
	position: absolute;
	z-index: 2;
	background-color: rgb(var(--yellow));
	height: 8px;
	bottom: 0;
}
.series-card__progress-bar--completed {
	background-color: var(--green);
}
.series-card__progress-bar--dropped {
	background-color: var(--red);
}

.button-select {
	text-align: center;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	border: none;
	background-color: var(--accent);
	color: white;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
}
.button-select--red {
	background-color: var(--red);
}
.button-select__option {
	flex-grow: 1;
	padding: 20px;
	cursor: pointer;
}
.button-select__dropdown {
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 2rem;
	padding: 10px 20px;
}
.button-select__options-container {
	position: absolute;
	bottom: 100%;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: none;
	background-color: var(--accent);
	color: white;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	transition: 0.2s;
	opacity: 1;
}
.button-select__options-container--hidden {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}
.button-select__options-container > .button-select__option {
	border-bottom: 2px solid white;
}
.button-select__options-container > .button-select__option:last-child {
	border-bottom: none;
}
.series-card .series-card__actions-container {
	position: absolute;
	bottom: 0.25rem;
	right: 0.25rem;
	z-index: 9;
	transition: 250ms;
	display: flex;
	flex-direction: column;
	gap: 0.24rem;
}
.series-card:hover .series-card__actions-container {
	opacity: 1;
}
.series-card__button-container {
	cursor: pointer;
	border-radius: 1000px;
	overflow: hidden;
	color: white;
}
.series-card__button {
	font-size: 1.75rem;
	background-color: var(--primary);
	padding: 0.4rem;
	display: block;
}
@media only screen and (min-width: 768px) {
	.series-card__adult-indicator {
		top: auto;
		bottom: 0.5rem;
	}
	.series-card .series-card__actions-container {
		opacity: 0;
	}
}
