
.series__title{
	font-size: 0.8em;
	color: #5c728a;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	overflow: hidden;
	margin-top: 10px;
}
.series-card__image-container {
	display: block;
	position: relative;
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
	aspect-ratio: auto 465 / 695;
}
.series-card__title {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}
.series-card__overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.series-card__overlay > * {
	opacity: 0;
}
.series-card__overlay:hover {
	background-color: #d14131df;
	transition: 500ms;
}
.series-card__overlay:hover > * {
	opacity: 1;
	transition: 500ms;
}
.series-card__img {
	position: absolute;
	left: 50%;
	z-index: 0;
	translate: -50%;
	width: auto;
	min-width: 100%;
	height: 100%;
}
.series-card__bar {
	position: absolute;
	z-index: 1;
	background-color: rgba(255, 255, 0, 0.25);
	width: 100%;
	height: 5px;
	bottom: 0;
}
.series-card__progress-bar {
	position: absolute;
	z-index: 2;
	background-color: yellow;
	height: 5px;
	bottom: 0;
}
.series-card__progress-bar--completed {
	background-color: green;
}
