::-webkit-scrollbar {
	display: none;
}
.volume {
	position: relative;
	background-color: #edf1f5;
}
.volume__cover {
	width: 100vw;
}
.volume_info-container {
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 60%;
    background: linear-gradient(#ffffff00, #edf1f5 120px);
	color: rgb(92,114,138)

}
.volume__series-button {
	margin-top: 100px;
	display: inline-block;
	padding: 10px;
	border-radius: 50px;
	border: none;
	background-color: #3db4f2;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.volume__functions{
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
	margin-bottom: 15px;
}
.volume__details-container{
	list-style: none;
	margin-top: 10px;
	position: relative;
}
.volume__details-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 80vw; 
	height: 1px; 
	background-color: rgb(146,153,161); 
	transform: translateX(-50%);
}
.volume__details {
	padding: 20px 0px;
}
.volume__summary {
	text-indent: 2rem;
	text-align: justify;
	line-height: 2em;
}
