::-webkit-scrollbar {
	display: none;
}
.volume {
	position: relative;
	background-color:  var(--background);
}
.volume__cover-wrapper {
	position: relative;
}
.volume__main-info {
	padding: 10px;
	width: 100%;
	color: var(--text);
	background: linear-gradient(#ffffff00,  var(--background) 120px);
	position: absolute;
	top: 60%;
}
.volume__cover {
	width: 100vw;
}
.volume__info-container {
	padding: 10px;
	width: 100%;
	position: absolute;
	color: var(--text);
	background-color:  var(--background);
	min-height: 60vh;
}
.volume__functions {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 15px;
	gap: 10px;
}
.volume__details-container {
	list-style: none;
	margin-top: 10px;
	position: relative;
}
.volume__details-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 80%;
	height: 1px;
	background-color: var(--text);
	transform: translateX(-50%);
}
.volume__details {
	padding-top: 40px;
}
.volume__summary {
	text-indent: 2rem;
	text-align: justify;
	line-height: 2em;
}
@media only screen and (min-width: 768px) {
	.volume {
		display: flex;
	}
	.volume__cover {
		border-radius: 5px;
		max-width: 100%;
	}
	.volume__main-info {
		padding: 0;
		background-color:  var(--background);
		position: static;
	}
	.volume__cover-wrapper {
		padding: 10px;
		color: var(--text);
		max-width: 400px;
	}
	.volume__title {
		font-size: 1em;
	}
	.volume__info-container {
		position: static;
		background-color:  var(--background);
		overflow: scroll;
	}
	.volume__details {
		padding-top: 0px;
		padding-bottom: 30px;
	}
	.volume__details-container {
		list-style: none;
		margin-top: 10px;
		position: relative;
	}
	.volume__details-container::before {
		display: none;
	}
	.volume__functions{
		margin-top: 10px;
	}
	.volume__series-button {
		text-align: center;
		margin-top: 0;
	}
}
