.user-comments__pill {
	display: inline-flex;
	align-self: flex-start;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--foreground);
	color: var(--accent);
	font-size: 0.8rem;
	font-weight: 600;
	text-decoration: none;
	border-radius: 1rem;
	padding: 0.5rem 0.75rem;
	box-shadow: var(--box-shadow);
}

.user-comments__pill:hover {
	text-decoration: underline;
}
