.menu {
	color: var(--text);
	position: fixed;
	bottom: 25px;
	right: 20px;
	z-index: 99;
	cursor: pointer;
}
.mobile_menu {
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: 6px;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 1);
	background-color: var(--background);
	align-items: center;
	justify-content: center;
}

.navbar {
	list-style: none;
	width: 0px;
	height: 0px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	opacity: 0;
	pointer-events: none;
	box-shadow: 0 1px 20px #0000004d;
	border-radius: 5px;
	justify-items: center;
	align-items: center;
	padding: 8px;
}
.mobile--visible {
	pointer-events: auto;
	height: 225px;
	width: 245px;
	opacity: 1;
	transition: 0.2s;
	background-color: var(--background);
}
.navbar__button {
	color: var(--text);
	text-align: center;
	font-weight: bold;
	position: relative;
}
.navbar__label {
	white-space: nowrap;
	margin-top: 0.5em;
	font-size: 0.65em;
	display: block;
	cursor: pointer;
}
.navbar__icon--theme {
	font-size: 1.25em;
	line-height: 0.05em;
}
.navbar__link--active {
	color: var(--accent);
}
.navbar__link__count__container {
	display: none;
}
.navbar__link__count {
	display: none;
}

.side-aside {
	position: sticky;
	top: 5rem;
	display: grid;
	align-self: start;
	justify-self: end;
	width: 15rem;
	flex: 0 0 15rem;
}
.side-navbar-container {
	display: none;
	gap: 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.side-navbar-container ul {
	list-style: none;
	display: flex;
	flex-direction: column;

	gap: 0.5rem;
}
.side-navbar-title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: bold;
	color: var(--text);
}
.side-navbar__link {
	color: var(--text);
	width: 100%;
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
}
.side-navbar__link:hover {
	color: var(--accent);
}
.side-navbar__link--active {
	color: var(--accent);
	background-color: var(--foreground);
}
.side-navbar-item {
	padding: 0.25rem 0;
}
@media only screen and (min-width: 1040px) {
	.menu {
		color: var(--text);
		position: relative;
		bottom: 0px;
		left: 0px;
		cursor: auto;
	}
	.navbar {
		position: fixed;
		top: 0;
		display: flex;
		width: 100%;
		height: 4rem;
		padding: 15px;
		border-radius: 0;
		box-shadow: none;
		color: white;
		background-color: var(--primary);
		justify-content: space-evenly;
		opacity: 1;
		pointer-events: auto;
	}
	.navbar__label {
		color: white;
		font-size: 1rem;
	}
	.navbar__link--active {
		color: white;
	}
	.navbar__label:hover {
		text-decoration: underline;
	}
	.navbar__icon {
		display: none;
	}
	.navbar__icon--theme {
		color: white;
	}
	.navbar__label--theme {
		display: none;
	}
	.navbar__button--theme {
		border: 1px solid white;
		padding: 5px;
		padding-bottom: 1px;
		border-radius: 5px;
	}
	.navbar__link__count__container {
		display: block;
		position: absolute;
		background-color: var(--red);
		color: white;
		padding: 0.3rem;
		width: auto;
		height: 100%;
		aspect-ratio: 1;
		border-radius: 5rem;
		top: -10%;
		left: 105%;
	}
	.navbar__link__count {
		display: block;
	}

	.side-navbar-container {
		display: block;
	}
}
